# Ignore data files and environment variables
data_raw/*.json

# Ignore logs and temporary files
guillaume/

# Ignore notebooks containing sensitive execution outputs
notebooks_executed/

# Ignore environment variable files
.env

# Ignore virtual environments and dependencies
venv/
node_modules/
__pycache__/

# Ignore system files
.DS_Store